@model EvaluacionServicios.Models.Formulario
@{
    ViewBag.Title = "Agregar Formulario";
}

<h2 class="mt-5">Agregar Formulario</h2>
<hr class="mb-3" />
@if (TempData["Error"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <div class="icono">
            <i class="fas fa-exclamation-circle fa-2x"></i>
        </div>
        @TempData["Error"].ToString()
    </div>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFormulario" }))
{
    <div class="card my-4">
        <div class="card-header">
            <i class="fa-solid fa-gears"></i> Ingrese los siguientes datos:
        </div>
        <div class="card-body">
            <div class="form-horizontal form-label-font-weight">

                <div class="form-group row">
                    @Html.Label("Nombre del Sistema", htmlAttributes: new { @class = "control-label col-2 fw-bold" })
                    @Html.HiddenFor(model => model.IdSistema)
                    <div class="col-6">
                        @(Html.Kendo().ComboBox()
                       .Name("Sistema")
                       .DataTextField("NombreSistema")
                       .DataValueField("IdSistema")
                       .Filter("Contains")
                       .Placeholder("Seleccione el sistema")
                       .BindTo(@ViewBag.ListaSistemas)
                       .SelectedIndex(-1)
                       .Suggest(false)
                       .IgnoreCase(true)
                       .HtmlAttributes(new { style = "width:100%;text-transform:uppercase;", @class = "", required = "required" }))
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-2 fw-bold" })
                    <div class="form-group col-10 ">
                        @Html.TextAreaFor(model => model.Descripcion, htmlAttributes: new { @class = "form-control  rows = '1'", @maxlength = "5000", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Hidden("Color")
                    @Html.Label("Seleccione el color del formulario", htmlAttributes: new { @class = "col-2 control-label fw-bold pb-2" })
                    <div class="product-display col-6">
                        @(Html.Kendo().ColorPalette()
                          .Name("color-chooser")
                          .Palette(new string[] { "#732936", "#257137", "#1A3B63", "#177B84", "#A45E03", "#706F6E" })
                          //.Value("#C45038")
                          .TileSize(30)
                          .Events(events => events.Change("changeColor"))
                         )                        
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-lg-8 col-sm-12">
                        @Html.ActionLink(" REGRESAR", "Index", "Formulario", new object { }, new { @class = "btn boton fa fa-arrow-left col-sm-12 col-lg-3" })

                        <button type="reset" id="btnLimpiar" class="btn boton fa col-sm-12 col-lg-3">
                            <i class="fas fa-eraser"></i> LIMPIAR
                        </button>

                        <button type="button" id="btnguardar" name="btnguardar" class="btn boton fa col-sm-12 col-lg-3">
                            <i class="fas fa-save"></i>  GUARDAR
                        </button>

                    </div>
                </div>

            </div>

        </div>
    </div>
}
<script>
    $("#btnguardar").click(function () {
        var sistema2 = $("#Sistema").data("kendoComboBox");
        
        var mensaje = "Por favor complete los siguientes espacios:";
        if (sistema2.value() == "") {
            mensaje = mensaje + "<br>Nombre del sistema";
        }
        if ($("#Descripcion").val() == "") {
            mensaje = mensaje + "<br>Descripción";
        }
        if ($("#Color").val() == "") {
            $("#Color").val("23374f");//si no se elije color, se usa el color institucional
        }
        if (mensaje != "Por favor complete los siguientes espacios:") {
            $("#mensajeAlerta").empty();
            $("#mensajeAlerta").html(mensaje);
            $('#mensajeValidacion').modal('show');
        } else {
            $("#IdSistema").val(sistema2.value());            
            $("#frmFormulario").submit();
        }
    });
    function changeColor() {
        var colorId = this.value().substring(1);
        $("#Color").val(colorId);
    }
</script>
<!-- Modal -->
<div class="modal fade" id="mensajeValidacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evaluacion de Servicios | Formularios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body row">
                <div class="col-2">
                    <i class="fa-solid fa-circle-exclamation fa-3x"></i>
                </div>
                <div class="col-10" id="mensajeAlerta">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn boton" data-bs-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>
