
@{
    ViewBag.Title = "Index";
}

<h2 class="mt-5">Sistema Evaluación de Servicios</h2>
<hr class="mb-3" />
<script type="text/javascript">
    $(document).ready(function () {

        var Dominio = '@System.Configuration.ConfigurationManager.AppSettings["Prod"]';        

    });
</script>

<div class="container">
    <div class="row ">
        @if (EvaluacionServicios.Models.Common.FrontUser.Get().Rol_id == 363)
        {
            <div class="card bannerBoton" style="margin-right:30px;">
                <a title="Ir a la página de Encuesta" href="@Url.Action("Index", "PregPorForm")" style="text-decoration: none; color:black;">
                    <div class="card-body">
                        <h5 class="card-title">Encuestas</h5>
                        <p class="card-text">Crear una nueva encuesta o ver las encuestas existentes.</p>
                    </div>
                    <img src="~/Images/encuesta.png" class="card-img-bottom" width="253" height="221" alt="card-img-bottom">
                </a>
            </div>
        }
            <div class="card bannerBoton">
                <a title="Ir a la página de Reportes" href="@Url.Action("Index", "Reportes")" style="text-decoration: none; color:black;">
                    <div class="card-body">
                        <h5 class="card-title">Reportes</h5>
                        <p class="card-text">Generar reportes de encuestas existentes.</p>
                    </div>
                    <img src="~/Images/grafico.png" class="card-img-bottom" width="253" height="221" alt="card-img-bottom">
                </a>
            </div>
        </div>
    @if (EvaluacionServicios.Models.Common.FrontUser.Get().Rol_id == 363)
    {
        <h3 class="mt-4">Catálogos</h3>
        <hr class="mb-3" />
        <div class="row ">
            <div class="card bannerBoton" style="margin-right:30px;">
                <a title="Ir a la página de Sistemas" href="@Url.Action("Index", "Sistemas")" style="text-decoration: none; color:black;">
                    <div class="card-body">
                        <h5 class="card-title">Sistemas</h5>
                        <p class="card-text">Mostrar, agregar, y modificar sistemas.</p>
                    </div>
                    <img src="~/Images/sistemas.png" class="card-img-bottom" width="253" height="221" alt="card-img-bottom">
                </a>
            </div>
            <div class="card bannerBoton" style="margin-right: 30px;">
                <a title="Ir a la página de Formularios" href="@Url.Action("Index", "Formulario")" style="text-decoration: none; color:black;">
                    <div class="card-body">
                        <h5 class="card-title">Formularios</h5>
                        <p class="card-text">Mostrar, agregar, y modificar formularios.</p>
                    </div>
                    <img src="~/Images/form.png" class="card-img-bottom" width="253" height="221" alt="card-img-bottom">
                </a>
            </div>
            <div class="card bannerBoton">
                <a title="Ir a la página de Preguntas" href="@Url.Action("Index", "Preguntas")" style="text-decoration: none; color:black;">
                    <div class="card-body">
                        <h5 class="card-title">Preguntas</h5>
                        <p class="card-text">Mostrar, agregar, y modificar preguntas.</p>
                    </div>
                    <img src="~/Images/preguntas.png" class="card-img-bottom" width="253" height="221" alt="card-img-bottom">
                </a>
            </div>
        </div>
    }
</div>
