@{
    ViewBag.Title = "Encuesta";
    Layout = "~/Views/Shared/_LayoutEncuesta.cshtml";
}

@if (TempData["Error"] != null)
{
    <h2 class="mt-5"> @TempData["Error"].ToString()</h2>

    <hr />

    <br />
    <div class="alert alert-danger" role="alert">
        <div class="icono">
            <i class="fas fa-exclamation-circle fa-2x"></i>
        </div>
        <h3> @TempData["Error2"].ToString() </h3>
    </div>
}
@if (TempData["Correcto"] != null)
{
    <h2 class="mt-5">Gracias por participar en la encuesta</h2>

    <hr />
    <div class="alert alert-success" role="alert">
        <div class="icono">
            <i class="fas fa-check-circle fa-2x"></i>
        </div>
        @TempData["Correcto"].ToString()
    </div>
}

@using (Html.BeginForm("Create", "Encuesta", FormMethod.Post, new { id = "frmFormulario" }))
{
    @Html.Hidden("IdFormulario")
}

<script>
    $(document).ready(function () {
        const valores = window.location.search;
        //Creamos la instancia
        const urlParams = new URLSearchParams(valores);
        //Accedemos a los valores
        var formularioId = urlParams.get('encuesta');
        var error = @Html.Raw(Json.Encode(TempData["Error"]));
        var correcto = @Html.Raw(Json.Encode(TempData["Correcto"]));
        //verificamos si hay algun error o si se continua con el proceso
        if (error || correcto) {
            //si hay mensaje se muestra en pantalla
        } else {
            //sino hay error o mensaje hace el submit
            $("#IdFormulario").val(formularioId);
            $("#frmFormulario").submit();
        }
    });
</script>

