
@{
    ViewBag.Title = "Generar Reporte";
}

<h2 class="mt-5">Generar Reporte</h2>
<hr class="mb-3" />
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

<script src="@string.Format("https://kendo.cdn.telerik.com/2021.3.1207/js/cultures/kendo.culture.es-ES.min.js",culture)"></script>

<script type="text/javascript">
    kendo.culture("@culture");
</script>
<div id="errores">
    <br />
    <div class="alert alert-danger" role="alert">
        <div class="icono">
            <i class="fas fa-exclamation-circle fa-2x"></i>
        </div>
        Error: debe seleccionar la fecha de inicio y fin
    </div>
</div>

@using (Html.BeginForm("Vista", "Reportes", FormMethod.Post, new { id = "frmReportes" }))
{
    @Html.Hidden("idForm", "")
    @Html.Hidden("sistema", "")
    <div class="card my-4">
        <div class="card-header">
            <i class="fa-solid fa-gears"></i> Seleccione las fechas en que desea crear el reporte:
        </div>
        <div class="card-body">
            <div class="form-horizontal">
                <div class="form-group row mt-4">
                    <div class="form-group  col-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="TipoReporte" value="completo" id="completo" checked="">
                            <label class="form-check-label fw-bold" for="completo">Reporte completo</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="TipoReporte" value="rango" id="rango">
                            <label class="form-check-label fw-bold" for="rango">Reporte en un rango de fechas</label>
                        </div>
                    </div>
                </div>
                @Html.Hidden("fechaInicio", "0")
                @Html.Hidden("fechaFin", "0")
                <div id="calendario" style="padding-bottom: 100px;">
                    <div class="k-d-flex k-justify-content-center">
                        <div class="k-w-300">

                            @(Html.Kendo().DateRangePicker()
                                  .Name("daterangepicker")
                                  .HtmlAttributes(new { style = "width: 100%", title = "Seleccione la fecha de inicio y fin" })
                                .Events(e => e.Change("onChange"))
                                .Messages(m =>
                                {
                                    m.StartLabel("Fecha de Inicio");
                                    m.EndLabel("Fecha de Fin");
                                })
                                .Format("dd/MM/yyyy")
                                .Culture("es-ES")
                                .Max(DateTime.Now)
                                .Footer("Hoy - #: kendo.toString(data, 'd') #")

                            )

                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-lg-8 col-sm-12">
                        @Html.ActionLink(" REGRESAR", "Index", "Reportes", new object { }, new { @class = "btn boton fa fa-arrow-left col-sm-12 col-lg-3" })

                        <button type="button" id="btnReporte" name="btnReporte" class="btn boton fa col-sm-12 col-lg-3">
                            <i class="fas fa-chart-line"></i>  REPORTE
                        </button>

                    </div>
                </div>

            </div>

        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#errores").css("display", "none");
        const valores = window.location.search;

        //Creamos la instancia
        const urlParams = new URLSearchParams(valores);

        //Se asigna el valor del idformulario
        //var formId = urlParams.get('form');
        $("#idForm").val(urlParams.get('form'));
        $("#sistema").val(urlParams.get('sist'));

        //se oculta los calendarios
        $("#calendario").css("display", "none");
        //funcion al cambiar el radio, muestra o no el calendario en pantalla
        $('input:radio').change(function () {
            if (($("input[name='TipoReporte']:checked").val()) == 'completo') {
                $("#calendario").css("display", "none");
                $("#errores").css("display", "none");
            } else {
                $("#calendario").css("display", "block");
                $("#errores").css("display", "none");
            }
        });
        //funcion del boton submit, valida los campos de fecha y hace el submit
        $("#btnReporte").click(function () {
            if ($("input[name='TipoReporte']:checked").val() == 'rango' && ($("#fechaInicio").val().length <= 1 || $("#fechaFin").val().length <= 1)) {
                $("#errores").css("display", "block");
            } else {             
               
                
                $("#frmReportes").submit();
            }

        });
    });
    //*****************************************************
    // se asigna el valor de fecha inicial y final
    function onChange() {
        var range = this.range();
        $("#fechaInicio").val(kendo.toString(range.start, 'd'));
        $("#fechaFin").val(kendo.toString(range.end, 'd'));
    }

    //*****************************************************
</script>
