@model EvaluacionServicios.Models.Sistemas
@{
    ViewBag.Title = "Editar Sistema";
}

<h2 class="mt-5">Editar Sistema</h2>
<hr class="mb-3" />

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSistemas" }))
{
    <div class="card my-4">
        <div class="card-header">
            <i class="fa-solid fa-gears"></i> Ingrese los siguientes datos:
        </div>
        <div class="card-body">
            <div class="form-horizontal">

                <div class="form-group row">
                    @Html.HiddenFor(model => model.IdSistema)
                    @Html.LabelFor(model => model.NombreSistema, htmlAttributes: new { @class = "control-label col-2 fw-bold" })
                    <div class="form-group col-10 ">
                        @Html.TextBoxFor(model => model.NombreSistema, htmlAttributes: new { @class = "form-control  rows = '1'", @maxlength = "500", required = "required" })
                    </div>
                </div>

                <div class="form-group row mt-4">
                    @Html.LabelFor(model => model.InternoExterno, htmlAttributes: new { @class = "control-label col-2 fw-bold" })
                    @Html.HiddenFor(model => model.InternoExterno)
                    <div class="form-group  col-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipoSistema" value="interno" id="interno">
                            <label class="form-check-label fw-bold" for="interno">Interno</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipoSistema" value="externo" id="externo">
                            <label class="form-check-label fw-bold" for="externo">Externo</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    @Html.Hidden("estadoModificado")
                    @Html.Label("Estado", htmlAttributes: new { @class = "control-label col-2 fw-bold" })
                    @Html.HiddenFor(model => model.Activo)
                    <div class="form-check form-switch col-10">
                        <input class="form-check-input" type="checkbox" name="activo" id="activo" checked="">
                        <label class="form-check-label fw-bold" for="activo">Activo</label>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-lg-8 col-sm-12">
                        @Html.ActionLink(" REGRESAR", "Index", "Sistemas", new object { }, new { @class = "btn boton fa fa-arrow-left col-sm-12 col-lg-3" })

                        <button type="button" id="btnguardar" name="btnguardar" class="btn boton fa col-sm-12 col-lg-3">
                            <i class="fas fa-save"></i>  GUARDAR
                        </button>

                    </div>
                </div>

            </div>

        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {
        const valores = window.location.search;

        //Creamos la instancia
        const urlParams = new URLSearchParams(valores);

        //Accedemos a los valores
        var tipoSistema = urlParams.get('InternoExternoMostrar');
        var estadoSistema = urlParams.get('ActivoMostrar');
        var nombreSistema = urlParams.get('NombreSistema');
        var idSistema = urlParams.get('IdSistema');
        //asignamos los valores
        $("#NombreSistema").val(nombreSistema);
        $("#IdSistema").val(idSistema);

        if (tipoSistema == 'Externo') {
            $("#externo").prop('checked', true);
            $("#interno").prop('checked', false);
        } else {
            $("#interno").prop('checked', true);
            $("#externo").prop('checked', false);
        }
        if (estadoSistema == 'Activo') {
            $("#activo").prop('checked', true);
        } else {
            $("#activo").prop('checked', false);
        }

   $("#btnguardar").click(function () {
        //verifica que los campos esten llenos para continuar, de lo contrario envia mensaje en pantalla
        var mensaje = "Por favor complete los siguientes espacios:";        

        if ($("#NombreSistema").val() == "") {
            mensaje = mensaje + "<br>Nombre del sistema";
        }
        if (mensaje != "Por favor complete los siguientes espacios:") {
            $("#mensajeAlerta").empty();
            $("#mensajeAlerta").html(mensaje);
            $('#mensajeValidacion').modal('show');
        } else {
            if ($("#externo").prop('checked')) {
                $("#InternoExterno").val(0);
            } else {
                $("#InternoExterno").val(1);
            }
            if ($("#activo").prop('checked')) {
                $("#Activo").val(1);
            } else {
                $("#Activo").val(0);
            }
            //verifica si se esta desactivando el sistema
            if ($("#Activo").val() == 0 && estadoSistema == "Activo") { 
                $("#estadoModificado").val(1);                
            } else {
                $("#estadoModificado").val(0);
            }
            $("#frmSistemas").submit();
        }

   });
});
</script>
<!-- Modal -->
<div class="modal fade" id="mensajeValidacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evaluacion de Servicios | Sistemas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body row">
                <div class="col-2">
                    <i class="fa-solid fa-circle-exclamation fa-3x"></i>
                </div>
                <div class="col-10" id="mensajeAlerta">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn boton" data-bs-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>

