@model EvaluacionServicios.Models.Sistemas
@{
    ViewBag.Title = "Sistemas";
}

<h2 class="mt-5">Listado de Sistemas Actuales</h2>
<hr class="mb-3" />

@if (TempData["Correcto"] != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <div class="icono">
            <i class="fas fa-check-circle fa-2x"></i>
        </div>
        @TempData["Correcto"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <div class="icono">
            <i class="fas fa-exclamation-circle fa-2x"></i>
        </div>
        @TempData["Error"].ToString()
    </div>
}

@(Html.Kendo().Grid(Model.lstSistemas)
          .Name("grdSistemas")

          .Columns(columns =>
          {
              columns.Bound(p => p.NombreSistema).Width(100).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              columns.Bound(p => p.InternoExternoMostrar).Width(80).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              columns.Bound(p => p.ActivoMostrar).Width(80).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              columns.Bound(p => p.FechaIngreso).Format("{0:dd/MM/yyyy}").Width(80).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              //columns.Bound(p => p.CedulaUsuario).Width(80).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });

              columns.Bound(p => p.idSistema).HeaderHtmlAttributes(new { @class = "encabezadoTabla" }).ClientTemplate("<a href='" + Url.Action("Edit", "Sistemas", new { NombreSistema = "#= NombreSistema #", InternoExternoMostrar = "#= InternoExternoMostrar #", ActivoMostrar = "#= ActivoMostrar #", idSistema = "#= idSistema #" }) + "' target=_self >Editar</a>").Title("Acciones").Filterable(false).Width(50);


          })
          .ToolBar(tools => tools.Excel().Text("Exportar a Excel"))
              .HtmlAttributes(new { style = "height:450px; font-size: 16px;" })
              .Pageable(pageable => pageable
              .Input(true)
              .Numeric(false)
          )
              .Excel(excel => excel
              .FileName("ListadoDeSistemas.xlsx")
              .Filterable(true)
              .AllPages(true)
              .ProxyURL(Url.Action("Exportar_Result_Excel"))
          )
             .Sortable()
             .Scrollable(scr => scr.Height(400))
             .Filterable()
             .DataSource(dataSource => dataSource
             .Ajax()
             .PageSize(20)
             .ServerOperation(false)
            )
)

<div class="form-group mt-4">
    <div class="col-md-offset-2 col-lg-8 col-sm-12">
        @Html.ActionLink(" REGRESAR", "Index", "Escritorio", new object { }, new { @class = "btn boton fa fa-arrow-left col-sm-12 col-lg-3" })

        @Html.ActionLink(" AGREGAR SISTEMA", "Create", "Sistemas", new object { }, new { @class = "btn boton fas fa-plus col-sm-12 col-lg-3" })
        <i class=""></i>
    </div>
</div>

